/* ParticlesBackground.css */
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}

/* Ensure particles don't interfere with content */
.particles-js-canvas-el {
  position: absolute;
}